@charset "UTF-8";
#gettingstarteddiv {
  text-align: center;
  padding-top: 150px;
}
#gettingstarteddiv h3 {
  font-size: 36px;
  width: 75%;
  margin: 0 auto 50px;
}
#spinnerImage {
  vertical-align: middle;
  margin: 10px;
}
#spinnerHolder {
  padding-top: 170px;
  text-align: center;
}
#tutorialbody {
  min-height: 450px;
  overflow: auto;
  padding: 60px;
}
/* Lesson Text Section */
#tutorialbodyheader {
  margin-bottom: 20px;
}

#tutorialbodyheader p {
  line-height: 1.25em;
  margin: 0;
}

#tutorialbodyheader h3 {
  margin: 0;
}

#tutorialbodyheader ul {
  margin: 0;
}

#tutorialbodyheader table {
  margin: 0;
}
#tutorialbodyheader td {
  margin: 0;
}

#headertext {
  font-size: 36px;
  font-weight: bold;
  float: left;
}

#lessonnumber {
  color: #faba06;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#stepTitle {
  margin-left: 5px;
  font-family: Helvetica, sans-serif;
}

#lightHR {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
#fadeOutArea {
  vertical-align: middle;
  width: 100%;
}
#instructions {
  margin-right: 12px;
  font-size: 14px;
}
#instructions p,
#instructions h3 {
  padding: 5px 0px;
}

#instructions ul {
  padding-left: 40px;
  list-style: square;
}
.rightColumn {
  font-size: 14px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 1.25;
}
#examplesDiv {
  text-align: left;
  width: 130px;
  float: right;
}
.moreExamplesText {
  text-decoration: underline;
  line-height: 1.45;
}
#advanceButton {
  font-weight: bold;
  font-size: 16px;
  margin: 8px 0px 8px 0px;
}

#errorText {
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Progress Indicator */
#progressWidget {
  float: right;
  margin-right: 5px;
  margin-top: 12px;
}

#lessonnumbuttons {
  float: right;
}

#progressWidget ul {
  margin: 0;
  -webkit-padding-start: 0px;
  padding-left: 0;
}

#progressWidget ul li {
  display: inline;
  list-style: none;
  padding: 3px 8px;
  border: 1px solid #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  -moz-box-shadow: inset 0 1px 8px 1px #ddd;
  -webkit-box-shadow: inset 0 1px 8px 1px #ddd;
  box-shadow: inset 0 1px 8px 1px #ddd;
  background: white;
  cursor: pointer;
}

#progressWidget ul li a {
  color: black;
}

#progressWidget ul li a:hover {
  color: orange;
}

.progressLeftEnd {
  border-left: 1px solid red;
}

.progressRightEnd {
  border-right: 1px solid green;
}

#lessonnumbuttons a {
  text-decoration: none;
}

#progressWidget .active {
  border: 1px solid #ecae00;
  background-color: #f6c868;
  color: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Share widget */
#shareWidget {
  float: right;
  margin-top: 10px;
  font-size: 12px;
}
#tweetButtonHolder {
  display: inline-block;
  vertical-align: middle;
}

/* Editor Styles */
#editor {
  border: 2px solid #666;
  background: white;
  -moz-box-shadow: 0 0 9px #ccc;
  -webkit-box-shadow: 0 0 9px #ccc;
  box-shadow: 0 0 9px #ccc;
}

/* Helper Styles */
.clear {
  clear: left;
}

.clearall {
  clear: both !important;
}