<!doctype html>
<html lang="en" ng-app="todo">
<head>
  <meta charset="UTF-8">
  <title>AngularFire TODO Test</title>
  <script src="../../bower_components/angular/angular.min.js"></script>
  <script src="../../bower_components/firebase/firebase.js"></script>
  <script src="../../bower_components/observe-js/src/observe.js"></script>
  <script src="../../lib/omnibinder.js"></script>
  <script src="../../lib/omnibinder-protocol.js"></script>
  <style>
    #new-todo {
      width: 100%;
      margin: 10px;
    }
    .edit {
      width: 75%;
    }
  </style>
</head>
<body ng-controller="Todo">
  <button id="clearRef" ng-click="clearRef()">Clear Ref</button>
  <button id="addRandomTodo" ng-click="addRandomTodo()">Add a Random Todo</button>
  <form ng-submit="addTodo()">
    <input placeholder="What needs to be done?" ng-model="newTodo" autofocus>
  </form>
  <div id="messagesDiv" style="height:500px;">
    <div ng-cloak ng-repeat="(id, todo) in todos">
      <div class="todoView">
        <input class="toggle" type="checkbox" ng-model="todo.completed"/>
        <input class="edit" ng-model="todo.title"/>
        <button ng-click="removeTodo(id)">Remove</button>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    angular.module("todo", ['OmniBinder', 'omniFire']).
      controller('Todo', function Todo($scope, obBinder, obBinderTypes, firebinder) {
        var url = 'https://angularFireTests.firebaseio-demo.com/omni-todo';

        $scope.todos = [];
        $scope.newTodo = '';

        var binding = obBinder($scope, 'todos', firebinder, {
          type: obBinderTypes.COLLECTION,
          key: 'id',
          query: {
            url: url
          }
        });

        $scope.addTodo = function() {
          if (!$scope.newTodo.length) {
            return;
          }
          $scope.todos.push({
            title: $scope.newTodo,
            completed: false
          });

          $scope.newTodo = '';
        };

        $scope.clearRef = function () {
          $scope.allClear = false;
          ref.set(null, function () {
            $scope.allClear = true;
          });
        };

        $scope.removeTodo = function(id) {
          delete $scope.todos[id];
        };

        $scope.addRandomTodo = function () {
          var ref = new Firebase(url);
          ref.push({title: 'Todo ' + new Date(), completed: false});
        }
      });



    function testIfInDOM(todo, node) {
      if (node.childNodes.length != 7) return false;
      if (node.childNodes[1].checked != todo.completed) return false;
      if (node.childNodes[3].value != todo.title) return false;
      return true;
    }
  </script>
</body>
</html>
