language: node_js
node_js:
  - "0.10"
branches:
  only:
    - master
install:
  - git clone git://github.com/n1k0/casperjs.git ~/casperjs
  - export PATH=$PATH:~/casperjs/bin
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install
  - bower install
before_script:
  - phantomjs --version
  - casperjs --version
script:
  - grunt
