<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularFire, from Firebase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AngularFire is an officially supported AngularJS binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app!">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">AngularFire</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="quickstart.html">Quickstart</a></li>
              <li><a href="documentation.html">Documentation</a></li>
              <li><a href="showcase.html">Showcase</a></li>
              <li><a href="source.html">Source</a></li>
            </ul>
            <ul class="pull-right">
              <li><a href="https://www.firebase.com/" target="_blank"><img src="img/poweredby.png"/></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        <img src="img/afire-logo.png" usemap="#logoMap" />
        <map id="logoMap" name="logoMap">
          <area shape="rect" coords="400,100,800,200" href="https://www.firebase.com" alt="By Firebase" title="By Firebase" />
        </map>
        <h2>The easiest and fastest way to wire up a backend for your <a href="http://angularjs.org/" target="_blank">Angular</a> app.</h2><br/>
        <p>
          <a href="http://github.com/firebase/angularFire" class="btn btn-large" target="_blank"><i class="icon-github-sign"></i> View on Github &raquo;</a>
          <a href="#downloadModal" role="button" data-toggle="modal" class="btn btn-primary btn-large"><i class="icon-cloud-download"></i> Download &raquo;</a>
        </p><br/>
        <div class="social">
          <div class="social github"><iframe src="http://ghbtns.com/github-btn.html?user=firebase&repo=angularFire&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></div>
          <div class="social gplus"><a class="g-follow" data-href="https://plus.google.com/115330003035930967645" data-height="20" data-rel="publisher"></a></div>
          <div class="social twitter-follow"><a href="https://twitter.com/Firebase" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @Firebase</a></div>
          <div class="social twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-width="80" data-dnt="true">Tweet</a></div>
          <div class="social facebook"><a class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></a></div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <h3>Built for speed</h3>
          <p>AngularFire is built to make sure you can write your app as quickly as possible. There's no backend code to write or servers to set up, just start writing your frontend code and focus on building a great experience.</p>
        </div>
        <div class="span4">
          <h3>Flexible API</h3>
          <p>Choose between an easy to use implicit sync API that will automatically keep all your Angular models persisted and updated, or a more powerful explicit sync API that gives you control over when data gets synchronized.</p>
        </div>
        <div class="span4">
          <h3>3-way data binding</h3>
          <p>Synchronizing and persisting user or app data in realtime is a breeze with AngularFire's 3-way data binding. It's never been easier to extend Angular's quintessential 2-way data binding concept to the server.</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="span12 chat-header">
          <h2>Build a chat app in just 30 lines of code!</h2><br/>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <pre class="prettyprint lang-html linenums" id="chat-code"></pre>
        </div>
        <div class="span4">
          <div id="chat-output">
          </div>
          <div>
            <p style="font-size:3em;">&laquo;</p>
            <p>
              Just copy and paste the code on the left into your own
              HTML file to recreate this simple chat application!
            </p>
          </div>
        </div>
      </div>

      <footer class="footer">
        <p>
          Developed and Maintained by <a href="https://www.firebase.com/">Firebase</a> &copy; 2013.
          Code licensed under <a href="http://firebase.mit-license.org/">The MIT License</a>.
        </p>
      </footer>

    </div> <!-- /container -->

    <!-- Modal -->
    <div id="downloadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalLabel">Download AngularFire</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label"><b>Build</b></label>
            <div class="controls">
              <span id="downloadGroup" class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn active" data-value="min">Minified</button>
                <button type="button" class="btn" data-value="com">Uncompressed</button>
              </span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><b>CDN</b></label>
            <div class="controls">
              <span>
                <input readonly="readonly" value="//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js" type="text">
                <a data-clipboard-text="//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js" class="btn clipboard"><i class="icon-copy"></i></a>
              </span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><b>Bower</b></label>
            <div class="controls">
              <span>
                <input readonly="readonly" value="bower install angular-fire" type="text">
                <a data-clipboard-text="bower install angular-fire" class="btn clipboard"><i class="icon-copy"></i></a>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="downloadButton" class="btn btn-large btn-primary"><i class="icon-cloud-download"></i> Download</button>
      </div>
    </div>

    <script type="text/template" id="chat-code-html"><div class="well" ng-app="chat" ng-controller="Chat">
  <form class="form-inline">
    Your name: <input type="text" ng-model="username">
  </form>
  <div ng-cloak ng-repeat="message in messages">
    <em>{{message.from}}: </em>{{message.content}}
  </div><br/>
  <form class="form-inline" ng-submit="addMessage()">
    <input type="text" ng-model="message" placeholder="Message...">
    <button class="btn" type="submit">
      <i class="icon-reply"> Send</i>
    </button>
  </form>
</div></script>

    <script type="text/template" id="chat-code-js">
  angular.module('chat', ['firebase']).controller('Chat', ['$scope', 'angularFire',
    function($scope, angularFire) {
      var ref = new Firebase('https://angularFire.firebaseio-demo.com/chat');
      angularFire(ref.limit(15), $scope, "messages", {});
      $scope.username = 'Guest' + Math.floor(Math.random()*101);
      $scope.addMessage = function() {
        $scope.messages[ref.push().name()] = {
          from: $scope.username, content: $scope.message
        };
        $scope.message = "";
      }}]);</script>

    <script src='//cdn.firebase.com/v0/firebase.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.1.7/ZeroClipboard.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js'></script>

    <script type="text/javascript">
      $(function() {
        function setupClipboard() {
          ZeroClipboard.setDefaults({moviePath: "css/zeroclipboard.swf"});
          var clip = new ZeroClipboard($(".clipboard"));
        }

        function setupCodeSample() {
          var code = $("#chat-code-js").html();
          var markup = $("#chat-code-html").html();
          var includes = '\n&lt;script src="//cdn.firebase.com/v0/firebase.js"&gt;&lt;/script&gt;' +
            '\n&lt;script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"&gt;&lt;/script&gt;' +
            '\n&lt;script src="//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"&gt;&lt;/script&gt;' +
            '\n&lt;script type="text/javascript"&gt;' + code + '\n&lt;/script&gt;'
          $("#chat-output").html(markup);
          $("#chat-code").html(_.escape(markup) + includes);
          prettyPrint();
          eval(code);
          angular.bootstrap($("#chat-output")[0], ["chat"]);
        }

        setupClipboard();
        setupCodeSample();
      });
    </script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- Google+ -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1387302698151882";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42491972-1', 'angularfire.com');
      ga('send', 'pageview');
    </script>

    <!-- Download box -->
    <script>
      $("#downloadButton").click(function () {
        var typ = $("#downloadGroup .active").data("value");
        if (typ == "min") {
          window.location.href = "https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js";
        } else {
          window.location.href = "http://angularfire.com/angularFire.js";
        }
      });
    </script>
  </body>
</html>
