<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quickstart - AngularFire, from Firebase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AngularFire is an officially supported AngularJS binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app!">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">AngularFire</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="quickstart.html">Quickstart</a></li>
              <li><a href="documentation.html">Documentation</a></li>
              <li><a href="showcase.html">Showcase</a></li>
            </ul>
            <ul class="pull-right">
              <li><a href="https://www.firebase.com/" target="_blank"><img src="img/poweredby.png"/></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header">
        <h1>Quickstart</h1>
        <h3>Get up and running in minutes.</h3>
      </div>
      <div class="row">
        <div class="span8 offset2 center well">
          <ol>
            <li>
              <p>Include the Firebase and AngularFire libraries from their respective CDNs.</p>
              <pre class="prettyprint lang-html">&lt;script src="https://cdn.firebase.com/v0/firebase.js"&gt;&lt;/script&gt;
&lt;script src="http://firebase.github.io/angularFire/angularFire.js"&gt;&lt;/script&gt;</pre>
            </li>
            <li>
              <p>Specify a dependency on <code>firebase</code> in your app module.</p>
              <pre class="prettyprint lang-js">var myApp = angular.module("MyApp", ["firebase"]);</pre>
            </li>
            <li>
              <p>Bind a model to a Firebase URL in your controller</p>
              <pre class="prettyprint lang-js">function MyController($scope, angularFire) {
  angularFire("https://&lt;my-firebase&gt;.firebaseio.com/list", $scope, "items");
}</pre>
            </li>
            <li>
              <p>Use and modify your model as you normally would, watch changes sync in realtime!</p>
              <pre class="prettyprint lang-html">&lt;div ng-controller="MyController"&gt;
  &lt;ul ng-repeat="item in items"&gt;
    &lt;li&gt;{{item.name}}&lt;/li&gt;
  &lt;/ul&gt;
  &lt;input type="text" ng-model="newItem"/&gt;
  &lt;button type="submit" ng-click="addItem()"&gt;Add New Item&lt;/button&gt;
&lt;/div&gt;</pre>
              <pre class="prettyprint lang-js">function MyController($scope, angularFire) {
  var url = "https://&lt;my-firebase&gt;.firebaseio.com/list";
  var promise = angularFire(url, $scope, "items");
  promise.then(function() {
    $scope.addItem = function() {
      $scope.items.push($scope.newItem);
      $scope.newItem = "";
    }
  });
}</pre>
            </li>
          </ol>
        </div>
      </div>

      <footer class="footer">
        <p>
          Developed and Maintained by <a href="https://www.firebase.com/">Firebase</a> (C) 2013.
          Code licensed under <a href="http://firebase.mit-license.org/">The MIT License</a>.
        </p>
      </footer>

    </div> <!-- /container -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>

    <script type="text/javascript">
      prettyPrint();
    </script>
  </body>
</html>
