<!doctype html>
<html lang="en" ng-app="chat">
<head>
  <meta charset="UTF-8">
  <title>AngularFire Chat Test</title>
  <script src="../../bower_components/angular/angular.min.js"></script>
  <script src="../../bower_components/firebase/firebase.js"></script>
  <script src="../../angularfire.min.js"></script>
</head>
<body ng-controller="Chat">
  <div>
    <label for="">Your name: </label><input id="name" type="text" ng-model="username">
  </div>
  <p></p>
  <div id="messagesDiv" style="height:500px;">
    <div ng-cloak ng-repeat="message in messages">
      <span class="messageBlock">
        <em>{{message.from}}: </em>
        <span class="content">{{message.content}}</span>
      </span>
    </div>
    <em ng-cloak ng-if="messages" class="messageCountBlock"># Messages: {{messageCount.$value}}</em>
  </div>
  <form ng-submit="addMessage()">
    <input id="message" type="text" ng-model="message" placeholder="Message...">
    <input id="send" type="submit" id="submit" value="Send" style="font-size:24px;">
  </form>
  <script type="text/javascript">
    var _scope;
    var _url = 'https://angularfiretests.firebaseio.com/chat';
    var _tnUrl = 'https://angularfiretests.firebaseio.com/chatMsgs';
    angular.module("chat", ["firebase"]);
    function Chat($scope, $firebase) {
      $scope.messages = $firebase(new Firebase(_url).limit(2));
      $scope.messageCount = $firebase(new Firebase(_tnUrl));
      $scope.username = 'Guest' + Math.floor(Math.random()*101);
      $scope.addMessage = function() {
        var promise = $scope.messages.$add({
          from: $scope.username, content: $scope.message
        });

        // Transaction testing
        $scope.messageCount.$transaction(function(currentCount) {
          if(!currentCount) {
            return 1;
          } else {
            return currentCount+1;
          }
        });

        $scope.message = "";
        return promise;
      }
      _scope = $scope;
    }

    function testMessageCount(expectedCount, node) {
        return node.innerHTML != '# Messages: ' + expectedCount;
    }

    function testIfInDOM(from, content, node) {
      if (node.childNodes.length != 5) return false;
      if (node.childNodes[1].innerHTML != from + ": ") return false;
      if (node.childNodes[3].innerHTML != content) return false;
      return true;
    }
  </script>
</body>
</html>
