<!DOCTYPE html>
<html ng-app="chat">
  <head>
    <title>AngularFire Chat e2e Test</title>

    <!-- Angular -->
    <script src="../../../node_modules/angular/angular.min.js"></script>

    <!-- Firebase -->
    <script src="../../../node_modules/firebase/firebase.js"></script>

    <!-- AngularFire -->
    <script src="../../../dist/angularfire.js"></script>

    <!-- Initialize the Firebase SDK -->
    <script src="../../initialize.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="chat.css">
  </head>

  <body ng-controller="ChatCtrl">
    <!-- Firebase URL where data is stored (used by the test spec to know where data is stored) -->
    URL: <span id="url" ng-bind="url"></span>

    <!-- Clear Firebase button -->
    <button id="clearRef" ng-click="clearRef()">Clear Ref</button>

    <!-- Destroy button -->
    <button id="destroyButton" ng-click="destroy()">Destroy AngularFire bindings</button>

    <!-- Messages list -->
    <div id="messagesList">
      <div class="message" ng-cloak ng-repeat="message in messages">
        <em>{{ message.from }}: </em>
        <span class="content">{{ message.content }}</span>
      </div>
    </div>

    <!-- Add message form -->
    <form ng-submit="addMessage()">
      <input id="username" type="text" ng-model="username" placeholder="Username...">
      <input id="message" type="text" ng-model="message" placeholder="Message..." autofocus>
      <input id="submit" type="submit" value="Submit">
    </form>

    <!-- Custom JS -->
    <script src="chat.js" defer></script>
  </body>
</html>
