<!DOCTYPE html>
<html ng-app>
  <head>
    <title>AngularFire Test</title>
  </head>
 
  <body af-test>
    <input type="text" ng-model="ctrl.test" ng-keypress="ctrl.addItem($event)"/>
    <p>{{ctrl.test}}</p>
    <div ng-repeat="k in ctrl.sample.index">
      <p>{{k}}: {{ctrl.sample.value[k]}}</p>
    </div>
    <script type="application/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="application/dart" src="index.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
